.gradient-line {
  width: 2px;
  background: linear-gradient(
                  0deg,
                  rgba(69, 222, 196, 0) 0%,
                  #27beb3 25%,
                  #02bab9 37.51%,
                  #670e37 62.83%,
                  #00b3cd 92.91%
  );
}
@keyframes floatAnimation {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
.resume-holder {
  animation: floatAnimation 0.5s ease-in-out infinite;

}
